
body {
    background-color: #929fd9;
}

a {
    text-decoration: none;
    color: black;
}

#toimiala {
    /*position: absolute;*/
    font-family: "Lucida Console";
    font-weight: bold;
}

#kunta {
    /*position: absolute;*/
    font-family: "Lucida Console";
    font-weight: bold;
}

.kuntaDiv, .toimialaDiv {
    float: left;
    width: 70%;
    margin-top: 4px;
    margin-left: 100px;
}

.toimi {
    margin-left: 24px;
    border-radius: 4px;
    padding-right: 2px;
    width: 110px;
    height: 30px;
}

.kunnat {
    margin-left: 54px;
    border-radius: 4px;
    width: 110px;
    height: 30px;
}

button {
    position: absolute;
    left: 160px;
    top: 100px;
    background-color: #EE82EE;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 3%;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
}

table, th, td {
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: rgb(212, 209, 209);
}

.taulu {
    position: absolute;
    top: 160px;
    left: 0px;
    text-align: center;
}
